.birb {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 317px;
    height: 317px;
    object-fit: cover;
    border-radius: 10pt 10pt 0pt 0pt;
}